{% extends 'layout.twig' %}

{% set page_title = 'Dashboard' %}

{% block content %}

    <div class="row">
      <div class="col-xs-12">
        <h2 class="pull-left">Dashboard</h2>

        <h4 class="pull-right" style="margin-top: 70px">
          <strong class="pull-right"> MENSAGEM DO DIA (reflexão) </strong> <br />
          Você pode chegar onde quiser, desde que aprenda a controlar suas emoções e seus sentidos.
        </h4>
      </div>
    </div>

    {{show_message('error', '<div class="alert alert-warning">', '</div>')}}
    {{show_message('ok', '<div class="alert alert-success">', '</div>')}}


    <div class="row">

      <div class="col-xs-12">
        <div class="page-header">
          <h1>Resumo do balanço
            <small style="margin:0 10px">
              01/06/2019 - Hoje
            </small>
            <button class="btn btn-default">
              MUDAR PERÍODO<span class="fa"></span>
            </button>
          </h1>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="jumbotron relate">
          <h1>Caixa</h1>
          <p>R$ 395,25</p>
          <p>
            <a class="btn btn-primary btn-lg" href="#" role="button">
              Ver extrato completo
            </a>
          </p>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="jumbotron relate">
          <h1>Entradas</h1>
          <p>25 novas contas</p>
          <p>
          <a class="btn btn-primary btn-lg" href="#" role="button">
            Ver Entradas
          </a>
        </p>
        </div>
      </div>

      <div class="col-xs-4">
        <div class="jumbotron relate">
          <h1>Saídas</h1>
          <p>10 novas despesas</p>
          <p>
          <a class="btn btn-primary btn-lg" href="#" role="button">
            Ver Entradas
          </a>
        </p>
        </div>
      </div>



    </div>

    <div class="clearfix"></div>

    <div class="alert alert-info">
        <h3 class="text-center">Bem-Vindo ao Dashboard</h3>
    </div>


{% endblock %}

{% block assets_css %}

{% endblock %}

{% block assets_js %}
<script>
    jQuery(document).ready(function($){

    });
</script>
{% endblock %}
